@import url("https://fonts.googleapis.com/css?family=Fredericka+the+Great");

.App {
  text-align: center;
  font-family: "Fredericka the Great";
  color: white;
}

* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

#bg-video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.control{
  z-index: 1;
  position: relative;
}

.moving-background {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("./assets/WallpaperDog-5500888.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 40% 40%;
}
